{{log this}}
<form>
    {{#each model.schema.fields as |field|}}
    <div class="form-group">
      <label for="{{concat @root.module "-" @root.key "-" field.name}}">{{mhlocalize field.label}}</label>
      <div class="form-fields">
        <input id="{{concat @root.module "-" @root.key "-" field.name}}" name="{{field.name}}" value="{{lookup @root.model field.name}}" type="text">
      </div>
      {{#if field.hint}}
      <p class="notes">{{mhlocalize field.hint}}</p>
      {{/if}}
    </div>
    {{/each}}

  <button type="submit" name="submit">
    {{getIcon "check" "fa-regular"}} {{mhlocalize "EFFECT.Submit"}}
  </button>
</form>