{{log this}}
<form>
  <h2>Generated Model Form</h2>
  {{#each model.schema.fields as |field|}}
    {{log field}}
    {{formField
      field
      localize=true
      name=field.name
      label=field.label
      hint=field.hint
      value=(lookup @root.model field.name)
    }}
  {{/each}}

  <button type="submit" name="submit">
    {{getIcon "check" "fa-regular"}}
    {{mhl-localize "EFFECT.Submit"}}
  </button>
</form>